<%
  set_meta_tags(
    title: 'Resume',
    description: "The fully interactive resume of James Ebentier, a full-stack developer with a passion for learning and creating.",
  )
%>
<div class='text-sm mx-auto my-10 text-[#40484f] font-resume text-justify leading-snug'>
  <%= render partial: 'welcome/resume/header',          locals: resume_data %>
  <%= render partial: 'welcome/resume/main_summary',    locals: resume_data %>
  <%= render partial: 'welcome/resume/skills',          locals: resume_data %>
  <%= render partial: 'welcome/resume/work_experience', locals: resume_data %>
  <%= render partial: 'welcome/resume/education',       locals: resume_data %>
  <%= render partial: 'welcome/resume/languages',       locals: resume_data %>
</div>
