<div class='flex flex-row mb-6 space-x-4'>
  <div class='p-4 w-1/4 align-top m-auto mt-0 flex-shrink-0 border rounded shadow'>
    <img src="<%= @project.image %>" alt="<%= @project.title %>" class='m-auto' />
    <p class='text-sm text-[#999] my-2 w-full text-center'>
      <%= link_to @project.url, @project.url, target: '_blank', rel: 'noreferrer', class: 'link link-hover underline' %>
    </p>
    <p class='text-sm text-[#999] my-2 w-full text-center'>
      <span class='badge badge-accent'><%= @project.status %></span>
    </p>
  </div>
  <div class='p-4 m-auto border rounded shadow'>
    <h1 class='text-3xl mb-5'><%= @project.title %></h1>
    <div class='prose w-full max-w-none'>
      <%= render_markdown(@project.content) %>
    </div>
  </div>
</div>
