<footer class="bg-base-200 border-t border-base-content/10">
    <div class="max-w-7xl mx-auto px-8 py-24">
      <div class=" flex lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
        <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
          <a href="/#" aria-current="page" class="flex gap-2 justify-center md:justify-start items-center">
            <img src='/favicon.ico' alt="James Ebentier" class='w-6 h-6' width='24' height='24' />
            <strong class="font-extrabold tracking-tight text-base md:text-lg">
              James Ebentier
            </strong>
          </a>

          <p class="mt-3 text-sm text-base-content/60">
            Copyright © James Ebentier <%= Date.today.year %> - All rights reserved
          </p>
        </div>
        <div class="flex-grow flex flex-wrap justify-center -mb-10 md:mt-0 mt-10 text-center">
          <div class="lg:w-1/4 md:w-1/2 w-full px-4">
            <div class="footer-title font-semibold text-base-content tracking-widest text-sm md:text-left mb-3">
              Links
            </div>

            <ul class='flex flex-col list-none justify-center items-center md:items-start gap-2 mb-10 text-sm'>
              <%= link_to 'Blog', blog_url, class: 'link link-hover' %>
              <%= link_to 'Projects', projects_url, class: 'link link-hover' %>
              <%= link_to 'Resume', resume_url, class: 'link link-hover' %>
            </ul>
          </div>

          <div class="lg:w-1/4 md:w-1/2 w-full px-4">
            <div class="footer-title font-semibold text-base-content tracking-widest text-sm md:text-left mb-3">
              Social
            </div>

            <div class="flex flex-row space-x-4 items-start mb-10 text-sm">
              <a href='https://twitter.com/jebentier' rel='noreferrer' target='_blank' title='jebentier twitter account' data-controller='mui-icons'><%= social_profile_icon :twitter %></a>
              <a href='https://linkedin.com/in/jebentier' rel='noreferrer' target='_blank' title='jebentier linkedin account'><%= social_profile_icon :linkedin %></a>
              <a href='https://github.com/jebentier' rel='noreferrer' target='_blank' title='jebentier github account'><%= social_profile_icon :github %></a>
            </div>
          </div>
          <div class="lg:w-1/4 md:w-1/2 w-full px-4">
            <div class="footer-title font-semibold text-base-content tracking-widest text-sm md:text-left mb-3">
              Feeds
            </div>

            <div class="flex flex-col justify-center items-center md:items-start gap-2 mb-10 text-sm">
              <%= link_to blog_url(format: "rss"), target: "_blank", title: "blog rss feed" do %>
                <i class="fa-solid fa-square-rss text-orange-400 text-base"></i> Blog
              <% end %>
              <%= link_to projects_url(format: "rss"), target: "_blank", title: "projects rss feed", class: 'link link-hover' do %>
                <i class="fa-solid fa-square-rss text-orange-400 text-base"></i> Projects
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
