<!DOCTYPE html>
<html data-theme='light'>
  <head>
    <title><%= t('site.name') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%=
      display_meta_tags(
        site: t('site.name'),
        separator: '|',
        reverse: true,
        follow: true,
        index: true,
        og: {
          title: :title,
          description: :description,
          type: 'website',
          site_name: :site,
          url: request.original_url,
          image: 'https://jamesebentier.com/logo192.png'
        },
        twitter: {
          card: 'summary_large_image',
          title: :title,
          description: :description,
          site: t('site.twitter_handle'),
          creator: t('site.owner_twitter_handle'),
          image: 'https://jamesebentier.com/logo192.png'
        }
      )
    %>

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/logo192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://kit.fontawesome.com/d7b2096eb7.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render partial: 'layouts/components/header' %>
    <div class="max-w-screen-lg m-auto font-sans-serif">
      <%= yield %>
    </div>
    <%= render partial: 'layouts/components/footer' %>
  </body>
</html>
